#nav_1{
    border: 1px solid black;
    line-height: 60px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #2B2B2B;
    
    
   
}
.nav_1{
    border: 1px solid black;
    display: inline;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    padding: 9px;
    color: white;
    
    
}
#godaddy{
    font-size: 29px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800px;
    margin-left: 25px;
    border-style: none;
    
}
#logo{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
    
}
#logo:hover{
    background-color: rgb(100, 95, 95);
}
#Hosting{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
}
#Hosting:hover{
    background-color: rgb(100, 95, 95);
}
#security{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
}
#security:hover{
    background-color: rgb(100, 95, 95);
}
#Email{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
}
#Email:hover{
    background-color: rgb(100, 95, 95);
}
#num{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-left: 300px;
    border-style: none;
}
#num:hover{
    background-color: rgb(100, 95, 95);
}    
#Help{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif; 
    margin-left: 10px;
    border-style: none;
}
#Help:hover{
    background-color: rgb(100, 95, 95);
}
#Sign{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
    border-style: none;
}
#Sign:hover{
    background-color: rgb(100, 95, 95);
}
#icon{
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
    border-style: none;
}
#div_2{
    border: 1px solid black;
    margin-left: -7px;
    margin-right: -7px;
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    border-color: rgb(255, 255, 255);
    

}
#section1{
    border: 1px solid black;
    display: inline-block;
    padding-left: 50px;

    
    padding: 25px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#section2{
    border: 1px solid black;
    display: inline-block;
    padding: 30px;
    padding-left: 340px;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 50px;
}
strong{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#button1{
    padding: 12px;
    border: 1px solid black;
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    

}
#button1:hover{
transform: scale(1.1,1.1);
transition-duration: 0.2s;
box-shadow: 1.5px 1.5px white;
background-color: black;
    color: white;
}
#button2{
    padding: 12px;
    margin-left: 20px;
    border: 1px solid rgb(255, 255, 255);
    width: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#button2:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.2s;
    box-shadow: 1.5px 1.5px rgb(0, 0, 0);
    background-color: rgb(41, 213, 41);
    }

#div_3{
    border: 1px solid rgba(0, 0, 0, 0.278);
    display: inline-block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: lighter;
    padding: 12px;
    position: absolute;
    display: none;

    margin-left: 950px;
    margin-top: 5px;
    box-shadow: 0.3px 0.3px;
    background-color: rgb(255, 255, 255);

} 
.aa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(3, 141, 141);
} 
#sign:hover{
    text-decoration: none;
}
#acc:hover{
    text-decoration: none;
}
#inn{
    border: 1px solid rgba(0, 0, 0, 0.604);
    width: 500px;
    height: 64px;
    margin-left: 40px;
    border-right: none;
}
#but{
    border: 1px solid black;
    width: 200px;
    height: 66px;
    
    background-color: #067a87;
    color: white;
    margin-right: 25px;
    font-weight: 600;
    font-size: 15px;
    
}
#but:hover{
    background-color:#004249;  ;
}
:placeholder-shown{
    padding-left: 80px;
    font-size: 20px;
}
#div_4{
    position: static;
}
#section3{
    border: 1px solid black;
    height: 420px;
    width: 850px;
    display: inline-block;
    margin-left: 39px;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 29px;
    padding-top: 15px;
    border-style: none;
    background-image: url(../img/intl-mrq-domain-lp-landscape\ 1.jpg); 
    background-repeat: no-repeat;
    background-size: 190vh;
    background-position-x: center;
}
#section4{
    border: 1px solid black;
    height: 420px;
    width: 350px;
    border: none;
    
    display: inline-block;
    margin-left: 12px;
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 29px;
    padding-top: 20px;
    background-color: rgb(253,233,219);
    border-color: rgb(253,233,219);
}

.bold{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    line-height: 23px;
    
}
.last{
    font-size: 13px;
}
.med{
    font-weight: 900;
}
#Learn{
    padding-left: 10px;
}
.button4{
    padding: 10px;
    border-radius: 4px;
    background-color: black;
    border-color: black;
    color: white;
    font-weight: 900;
    font-size: 15px;
}
.button4:hover{
    transform: scale(1.05,1.05);
    transition-duration: 0.4s;
}
#center{
    text-align: center;
    border: 1px solid black;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    border-style: none;
}  
#centerr{
    text-align: center;
    font-size: 20px;
}
#div_6{
    /* border: 1px solid black; */
    display: inline-block;
    height: 620px;
    margin-top: 50px;
    width: 550px;
    margin-left: 80px;
   ;
}
#div_7{
    display: inline-block;
    height: 620px;
    margin-top: 50px;
    width: 550px;
    margin-left: 80px;
}
#img_1{
    border: 1px solid black;
    height: 330px;
    background-image: url(../img/en-img-brand-lander-professional-email.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
}
#img_2{
    border: 1px solid black;
    height: 330px;
    background-image: url(../img/en-img-brand-lander-web-hosting.webp);
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
}
#section5{
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 5px;
    border-style: none;
}
#section6{
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 5px;
    border-style: none;
}
.lett{
    font-size: 35px;
    margin-top: -0.5px;
}
.comm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
big{
    font-size: 35px;
    font-weight: 900;
}
.button5{
    width: 200px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: 700;
    font-size: medium;
}
.button5:hover{
   transition-duration: 0.2s;
    transform: scale(1.05);   
}
#div_8{
    border: 1px solid black;
    height: 500px;
    margin-top: 90px;
    margin-left: -5px;
    margin-right: -7px;
    background-image: url(../img/mrq-Guide-IN-PK-Suraiya-desktop.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    border-style: none;
}
#section7{
    border: 1px solid black;
    height: 480px;
    width: 700px;
    margin-left: 645px;
    padding-left:  20px;
    padding-top: 20px;
    border-style: none;
}
#centerrr{
    padding-top: 30px;
    line-height: 5px;
    font-size: 45px;
}
#section8{
    margin-left: 60px;
    margin-top: 30px;
    position: absolute;
}
#section9{
    margin-top: 60px;
    margin-left: 40px;
}

#div_9{
    font-size: 10px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-left: 50px;
    color: white;
    border-style: none;
    
}
#div_10{
    font-size: 10px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    top: -284px;
    padding: 10px;
    margin-left: 75px;
    color: white;
    border-style: none;
}
#div_11{
    font-size: 10px;
    border: 1px solid black;
    display: inline-block;
    position: relative;
    top: -85px;
    padding: 10px;
    margin-left: 75px;
    color: white;
    border-style: none;
}
#div_12{
    font-size: 10px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: -325px;
    padding: 10px;
    margin-left: 75px;
    color: white;
    border-style: none;
}
#div_13{
    font-size: 10px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: -295px;
    padding: 10px;
    margin-left: 75px;
    color: white;
    border-style: none;
}
#div_14{
    font-size: 10px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    top: -169px;
    padding: 10px;
    margin-left: 75px;
    color: white;
    border-style: none;
}
.h33{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    background-origin: padding-box;
    font-weight: 600;
}
a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.619);
}
a:hover{
    text-decoration: underline;
    color: #067a87;
}